<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>

    <form action="/search" method="post">
        <label for="nama_gedung">Masukkan ID barang:</label>
        <div>
            <input type="text" name="namaBarang">
        </div>
        <button type="submit">Cari</button>
    </form>

    <h2>Daftar Barang:</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Nama Barang</th>
                <th>Harga</th>
            </tr>
        </thead>
        <tbody>
            <% if (data.length === 0) { %>
                <tr>
                    <td colspan="2">Data tidak ditemukan</td>
                </tr>
            <% } else { %>
                <% data.forEach(item => { %>
                    <tr>
                        <td><%= item.nama_barang %></td>
                        <td><%= item.harga_barang %></td>
                    </tr>
                <% }) %>
            <% } %>
            <tr>
                <th>Total</th>
                <th><%= total %></th>
            </tr>
        </tbody>
    </table>
</body>
</html>
